In [1]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [2]:
#only parenthesis is not enough
t = ('satish')
type(t)

str

In [3]:
#need a comma at the end
t = ('satish',)
type(t)

tuple

In [4]:
#parenthesis is optional
t = "satish", 
print(type(t))

print(t)

<class 'tuple'>
('satish',)

In [5]:
t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')

print(t[1])

murali

In [6]:
#negative index
print(t[-1]) #print last element in a tuple

brahma

In [7]:
#nested tuple
t = ('ABC', ('satish', 'naveen', 'srinu'))

print(t[1])

('satish', 'naveen', 'srinu')

In [8]:
print(t[1][2])

srinu

In [9]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

In [11]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [12]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('satish', ) * 4)
print(t)

('satish', 'satish', 'satish', 'satish')

In [13]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

In [14]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

In [15]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1

2

In [16]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [17]:
print(7 in t)

False

In [18]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

In [19]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [20]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [22]:
print(min(t))

1

In [23]:
#get sum of elments in the tuple
print(sum(t))

23